# macOS
.DS_Store

# Xcode
DerivedData/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/

# Carthage
Carthage/Build/

# App logs
*.log
